.pokemon-card {
  background-image: linear-gradient(to bottom right, #e1f4f7, #80d3e0);
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 3px 2px 13px #888888;
  padding-bottom: 15px;
}

.pokemon-name {
  margin: 0;
}

.pokemon-card-line {
  height: 1px;
  width: 90%;
  background-color: black;
}

.pokemon-types-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.pokemon-types {
  list-style: none;
  background-image: linear-gradient(to bottom right, #e4e4e4, #b3b6b7);
  justify-content: space-evenly;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 1px 1px 0px #888888;
}
